*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans MT";
    color: white
    ;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color:black;
    position: relative;
}

.element{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.element h1{
    font-size: 5vw;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}

.element img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 2rem;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all linear 0.3s;
}